
tensorflow==2.5.0

# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
# pandas
# scikit-learn

# tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# API
gcsfs
google-cloud-storage
# mlflow
# s3fs

# utilities
#six>=1.14
# joblib
# memoized-property
# termcolor

# libraries
opencv-python-headless
pygame
   # maybe delete later on
# keras

# UI
streamlit
streamlit_webrtc
av
sympy
